<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>식당 메뉴</title>
</head>
<body>
<h1>식당 메뉴</h1>
<table>
    <thead>
    <tr>
        <th>식당 이름</th>
        <th>메뉴</th>
        <th>가격</th>
    </tr>
    </thead>
    <tbody>
    <!-- 'restaurants' 리스트를 반복하며 데이터 표시 -->
    <tr th:each="restaurant : ${restaurants}">
        <td th:text="${restaurant.lunchName}"></td> <!-- 식당 이름 -->
        <td th:text="${restaurant.lunchItems}"></td> <!-- 메뉴 -->
        <td th:text="${restaurant.price}"></td> <!-- 가격 -->
    </tr>
    </tbody>
</table>
</body>
</html>
